
<link href="skins/blues/css/product.css" type="text/css"  rel="stylesheet" />

<h1 style="color:#365386">All Products</h1> 
<br />

 <?php echo $this->paginationControl($this->paginator, 
     'Sliding', 
     'partials/pagination-control.phtml'); ?> 

<br />

<table id="products" >



<?php 
$i=1;
if (count($this->paginator)){ 

	foreach($this->paginator as $products){ 
	if($i%2!=0) echo "<tr>";
	?>
    
	<td>
		<img src=<?php if($products['thump']=='') {$image="noimage.jpg";}else $image=$products['thump']; echo $imagelink="http://".$_SERVER['SERVER_NAME']."/images/products/".$image; ?> style="float:left;"/>
        <div style="margin-left: 105px;">
			<span class="prod"><a href="/products/<?php echo $products['slug'] ?>" ><?php echo $products['name']?></a> </span>
		
			<br />
			<br />
		
			<span class="prod"> $<?php echo $products['price']?> </span>
        
			<br />
			<br />
		
			<form action="/cart/add" method="post">
				<input type="hidden" name="prodID" value="<?php echo $products['id'] ?> ">
				<input type="submit" name="submit" value="" class="add">
			</form>
		</div>
	
		<br style="clear: both"/>
	
	</td>
   
	
	
	
    
<?php
    if($i%2==0) echo "</tr>";
	$i++;
	} 
}
?>
</table>